{% extends 'base.html' %}

{% block body %}
<div class="container m-5 p-5">
    <div class="row m-5 pt-5">
        <div class="col-2">
            <a href="{% url 'film_listesi' %}" style="text-decoration: none; color: white;" > &#10094; Geri Gön </a>
        </div>
        <div class="col-4">
            <img style="max-width: 250px;" src="{{ film.resim_yolu.url }}" alt="{{ film.isim }}">
        </div>
        <div class="col-6 text-white">
            <h1 class="mt-5 pt-5">{{ film.isim }}</h1>
            <p>{{ film.tur }}</p>
            <p>{{ film.yil }}</p>
            <p>{{ film.aciklama }}</p></div>
    </div>
</div>
  
{% endblock %}
